<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users List</title>
    </head>

    <body>
        <h2>Admin Users List</h2>

        <a th:href="@{/logout}">Logout</a>

        <hr />

        <table>
            <thead>
                <tr>
                    <td>
                        ID
                    </td>

                    <td>
                        Username
                    </td>

                    <td>
                        Email
                    </td>

                    <td></td>

                    <td>
                        <a th:href="@{/admin/users/create}">
                            Create
                        </a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="user : ${ users }">
                    <td th:text="${ user.getId() }" />
                    <td th:text="${ user.getUsername() }" />
                    <td th:text="${ user.getEmail() }" />

                    <td>
                        <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form
                            th:method="DELETE"
                            th:action="@{/admin/users/{id}(id=${user.getId()})}">

                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>

                <tr th:if="${ !usersExist }">
                    <td colspan="5">
                        No users found
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>