<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personal Page</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td>
                        User's Personal Page
                    </td>

                    <td>
                        <a th:href="@{/logout}">Logout</a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>ID</td>
                    <td th:text="${id}" />
                </tr>

                <tr>
                    <td>Username</td>
                    <td th:text="${username}" />
                </tr>

                <tr>
                    <td>Email</td>
                    <td th:text="${email}" />
                </tr>

                <tr>
                    <td>Roles</td>
                    <td>
                        <div th:each="role : ${roles}">
                            <p th:text="${role.getRole()}" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>